[submodule "crowbar/revamped-cli/reveal.js"]
	path = crowbar/revamped-cli/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "crowbar/revamped-cli/qrcodejs"]
	path = crowbar/revamped-cli/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs
[submodule "crowbar/revamped-cli/reveal.js-menu"]
	path = crowbar/revamped-cli/reveal.js-menu
	url = https://github.com/denehyg/reveal.js-menu
