---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: build

"on":
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install deps
        run: npm install --ci

      - name: Run build
        run: npm run build

      - name: Run export
        run: npm run export

      - name: Run redirs
        run: npm run redirs

      - name: Deploy website
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        uses: South-Paw/action-netlify-cli@v2
        with:
          args: deploy --prod --dir dist/

...
